.gallery-card {
    height: 320px;
}

.gallery-card img {
    width: 100%;
}

.playergallery-card {
    height: 160px;
    width: 200%;
}

.playergallery-card img {
    width: 250px;
    float: left;
}

#h3 {
    font-size: 3vmin;
    font-weight: 10;
}
