.gallery-card {
    height: 90vmin;
    max-height: 320px;
    max-width: 300px;
    margin: 3vmin;
}

.gallery-card img {
    width: 100%;
}
.gallery-card:hover {
    width: 50%;
}
.gallery-card img:hover {
    width: 101%;
    opacity: 0.8;
}

.playergallery-card {
    height: 160px;
    width: 200%;
}

.playergallery-card img {
    width: 250px;
    float: left;
}

#h3 {
    font-size: 3vmin;
    font-weight: 10;
    float: left;
    top: -0.5vmin;

    position: relative;
}
#time {
    float: left;
    top: -0.5vmin;
    position: relative;
}
