.relatedvideo {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    float: left;
}

.playerbody {
    float: left;
    max-width: 1032px;
}

.videoplayer {
    margin: 10vmin 10vmin 0 10vmin;
    display: flex;
    transition: all 0.6s;
    width: 80vmin;
    height: 45vmin;
    max-width: 854px;
    max-height: 480px;
}

.video {
    max-width: 854px;
    max-height: 480px;
}

.comment-container-item {
    display: flex;
    margin: 0 0 10px;
}

.comment-container,
.info-container {
    margin: 10vmin 10vmin 0 10vmin;
}

.comment-left img {
    border-radius: 50%;
}

.comment-right {
    margin: 0 0 0 10px;
}

.comment-right div:nth-child(1) span {
    font-weight: 300;
    margin: 0 5px 0 0;
}

.comment-right div:nth-child(1) time {
    color: #888;
}

.comment-right div:nth-child(3) i {
    margin: 0 10px 0 0;
    color: #888;
}

.comment-right div:nth-child(3) span {
    color: #666;
}

.video-title {
    font-size: 2vmin;
    font-weight: 1000;
}

.video-info i {
    color: #888;
}

.ytp-expand-pause-overlay {
    visibility: hidden;
}

.ytp-pause-overlay {
    visibility: hidden;
}

.video-info div:nth-child(3) {
    display: flex;
    align-items: center;
}

.video-info div:nth-child(3) i {
    font-size: 24px;
    color: #aaa;
}

.video-info div:nth-child(3) span {
    font-size: 18px;
    margin: 0 0 0 8px;
    color: #999;
    font-weight: 300;
}

.video-info div:nth-child(4) {
    margin: 5px 0 7px 0;
}

.video-info div:nth-child(4) span {
    color: #555;
    margin: 0 5px 0 0;
}

.video-info div:nth-child(4) time {
    color: #555;
}

.playerbody {
    max-width: 834px;
}
